* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.offer-banner,
.alternate-offer-banner {
  --offer-part-bg: #f9f9f9;
  --offer-main-bg: var(--color-primary);
  --offer-secondary-bg: var(--color-dim-black);
  --offer-main-bg-rgb: var(--color-primary-rgb);
  --offer-secondary-bg-rgb: var(--color-dim-black-rgb);

  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999999999;
  display: none;
  right: 0;
}

.offer-banner__container {
  background-color: white;
  width: 130px;
  border-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100%;
  text-align: center;
  border: 1px solid rgba(37, 37, 37, 0.1);
}

#hideOfferBannerBtn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#hideOfferBannerBtn svg {
  margin-left: 8px;
  transform: rotate(180deg);
}

.offer-banner__container__header {
  display: flex;
  justify-content: flex-end;
  padding-top: 8px;
  padding-bottom: 8px;
}

.offer-banner__container__header button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: gray;
  font-size: 14px;
  cursor: pointer;
  padding: 10px;
  padding-bottom: 0px;
}

.offer-banner__container__image-container img {
  width: 100%;
  border-radius: 5px;
  padding: 0 8px;
}

.offer-banner__content h2 {
  font-size: 12px;
  color: #333;
  margin: 5px 0;
  text-align: center;
  padding: 0 8px;
  font-weight: 500;
  line-height: initial;
}

.offer-banner__content-text {
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;
}

.offer-banner__offer-container {
  background-color: rgba(var(--offer-secondary-bg-rgb), 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.offer-banner__offer {
  width: 100%;
  background-color: var(--offer-secondary-bg);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 8px;
}

.offer-banner__offer-label {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.offer-banner__price {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 5px;
}

.offer-banner__current-price {
  font-size: 18px;
  color: #4caf50;
  font-weight: bold;
  margin-right: 8px;
}

.offer-banner__original-price {
  font-size: 14px;
  color: #999;
  font-style: italic;
  text-decoration: line-through;
}

.offer-banner__buy-button {
  background-color: var(--offer-main-bg);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  border: none;
  padding: 15px 8px;
  border-bottom-left-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
}

.offer-banner__buy-button:hover {
  color: white;
}

.offer-banner__buy-button p {
  margin-bottom: 0;
}

.offer-banner__buy-button svg {
  fill: white;
  margin-left: 8px;
  stroke: white;
  stroke-width: 1px;
  width: 15px;
  height: 12px;
  transform: translateY(0px) !important;
}

.alternate-offer-banner {
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: rotate(90deg) translateY(-50%);
  z-index: 1;
  padding: 5px 12px;
  padding-bottom: 8px;
  border-radius: 0px;
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  background-color: var(--offer-main-bg);
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
  box-shadow: var(--shadow);
}

.alternate-offer-banner p:nth-child(1) {
  font-size: 14px;
  margin-bottom: 0;
}

.alternate-offer-banner p:nth-child(2) {
  background-color: white;
  font-size: 12px;
  padding: 5px;
  border-radius: 50px;
  color: black;
  margin-left: 8px;
  margin-bottom: 0;
}

.alternate-offer-banner--show {
  display: flex !important;
}

.offer-banner--show {
  display: flex !important;
}

.alternate-offer-banner--hide {
  display: none !important;
}

.offer-banner--hide {
  display: none !important;
}
